

.footer {
  background-color: #343a40;
  color: #ffffff;
  padding: 2rem 0;
  border-top: 1px solid #474e54;
}

.footer h5 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #ffce00;
}

.footer p {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  color: #dddddd;
}

.footer .social-logo {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  transition: transform 0.2s, filter 0.2s;
}

.footer .social-logo:hover {
  transform: scale(1.2);
  filter: brightness(1.2);
}

.footer .social-icons {
  margin-top: 1rem;
}
