.company-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.company-details h1 {
  color: #4CAF50;
}

.company-details p {
  margin: 10px 0;
}

.company-details button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.company-details .submit-application-button {
  margin-bottom: 20px; 
}

.company-details button:hover {
  background-color: #45a049;
}
.submit-button {
  margin-bottom: 20px; 
}

.back-home-button {
  margin-top: 20px; 
}

